@model AdsEntity.AdsCustomer

@{
    ViewBag.Title = "Details";
}

<h2>赵征专用-Details</h2>

<div>
    <h4>AdsCustomer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAvatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAvatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerNickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerNickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerBirthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerBirthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerShengfen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerShengfen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerDiqu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerDiqu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerRealName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerRealName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerIDCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerIDCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerIDCardzm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerIDCardzm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerIDCardsm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerIDCardsm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerQQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerQQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerWechat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerWechat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
