@model AdsEntity.AdsCustomer

@{
    ViewBag.Title = "Edit";
}

<h2>赵征专用-Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AdsCustomer</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CustomerId)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerEmail)
                @Html.ValidationMessageFor(model => model.CustomerEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerPassword)
                @Html.ValidationMessageFor(model => model.CustomerPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerAvatar, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerAvatar)
                @Html.ValidationMessageFor(model => model.CustomerAvatar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerNickName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerNickName)
                @Html.ValidationMessageFor(model => model.CustomerNickName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerSex, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerSex)
                @Html.ValidationMessageFor(model => model.CustomerSex)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerBirthday, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerBirthday)
                @Html.ValidationMessageFor(model => model.CustomerBirthday)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerShengfen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerShengfen)
                @Html.ValidationMessageFor(model => model.CustomerShengfen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerCity)
                @Html.ValidationMessageFor(model => model.CustomerCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerDiqu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerDiqu)
                @Html.ValidationMessageFor(model => model.CustomerDiqu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerAddress)
                @Html.ValidationMessageFor(model => model.CustomerAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerRole, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerRole)
                @Html.ValidationMessageFor(model => model.CustomerRole)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerRealName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerRealName)
                @Html.ValidationMessageFor(model => model.CustomerRealName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerIDCard, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerIDCard)
                @Html.ValidationMessageFor(model => model.CustomerIDCard)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerIDCardzm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerIDCardzm)
                @Html.ValidationMessageFor(model => model.CustomerIDCardzm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerIDCardsm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerIDCardsm)
                @Html.ValidationMessageFor(model => model.CustomerIDCardsm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerTelephone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerTelephone)
                @Html.ValidationMessageFor(model => model.CustomerTelephone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerQQ, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerQQ)
                @Html.ValidationMessageFor(model => model.CustomerQQ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerWechat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerWechat)
                @Html.ValidationMessageFor(model => model.CustomerWechat)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
