@model IEnumerable<AdsEntity.AdsCustomer>

@{
    ViewBag.Title = "Index";
}

<h2>赵征专用-Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAvatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerNickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerBirthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerShengfen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerDiqu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerRealName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerIDCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerIDCardzm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerIDCardsm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerTelephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerQQ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerWechat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAvatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerNickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerSex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerBirthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerShengfen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerDiqu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerRealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerIDCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerIDCardzm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerIDCardsm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerTelephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerQQ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerWechat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerId })
        </td>
    </tr>
}

</table>
