@model AdsEntity.SysUser

@{
    ViewBag.Title = "Details";
}

<h2>赵征专用-Details</h2>

<div>
    <h4>SysUser</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SysUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SysUserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
