@using PagedList;
@using PagedList.Mvc;
@using AdsServices;
@using AdsEntity;
@model StaticPagedList<AdsEntity.AdsVideo>
@{
    Layout = "~/Views/Shared/_WechatLayout.cshtml";
}

  <div class="row">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <h4 class="widget-user-desc pull-right"><span class="glyphicon glyphicon-camera"></span> VR实验室</h4>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="~/WechatResource/img/star.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-xs-12 center">
                        <div class="description-block">
                            <h5 class="description-header">@ViewBag.babyName </h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">3,200天</h5>
                            <span class="description-text">训练天数</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">@ViewBag.cepingcount</h5>
                            <span class="description-text">测评次数</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <div class="description-block">
                            <h5 class="description-header">@ViewBag.pingjiacount</h5>
                            <span class="description-text">训练报告</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->


                </div>
                <!-- /.row -->

                


                <ul class="row skyindexbtn">

                    @foreach (BaogaoDemention dem in ViewData["dem"] as List<BaogaoDemention>)
                    {


                        <li class="col-xs-1-5 text-center sky-nav-li">
                            <span>
                                @if (dem.demNumber == 1)
                                {
                               

                                    <a class="btn btn-danger btn-circle btn-sm" href="@Url.Action("Calendar", "Wechat", new { cid = dem.demcategoryid ,orderid=dem.demNumber})">
                                        <i class="@dem.demIcon"></i>
                                    </a>
                                }
                                @if (dem.demNumber == 2)
                                {

                                    <a class="btn btn-danger btn-circle btn-sm" href="@Url.Action("Calendar", "Wechat", new { cid = dem.demcategoryid, orderid = dem.demNumber })">
                                        <i class="@dem.demIcon"></i>
                                    </a>
                                }
                                @if (dem.demNumber == 3)
                                {

                                    <a class="btn btn-warning btn-circle btn-sm" href="@Url.Action("Calendar", "Wechat", new { cid = dem.demcategoryid, orderid = dem.demNumber })">
                                        <i class="@dem.demIcon"></i>
                                    </a>
                                }
                                @if (dem.demNumber == 4)
                                {

                                    <a class="btn btn-warning btn-circle btn-sm" href="@Url.Action("Calendar", "Wechat", new { cid = dem.demcategoryid, orderid = dem.demNumber })">
                                        <i class="@dem.demIcon"></i>
                                    </a>
                                }
                                @if (dem.demNumber == 5)
                                {

                                    <a class="btn btn-success btn-circle btn-sm" href="@Url.Action("Calendar", "Wechat", new { cid = dem.demcategoryid, orderid = dem.demNumber })">
                                        <i class="@dem.demIcon"></i>
                                    </a>
                                }

                            </span>
                            <span> @dem.demName</span>
                        </li>
                    }

                </ul>

            </div>

        </div>
        <!-- /.widget-user -->

    </div>
<div class="row skyindexrow">
    <div class="pull-left text-orange skyindexrowtitle"><i class="glyphicon glyphicon-calendar"></i> @ViewBag.ctitle 
   
    </div>
    <div class="pull-right skyindexrowrighttitle">234人正在训练</div>
</div>


@foreach (var item in Model)
{
    <div class="row skyindexrow">

        <img src="~/WechatResource/img/user1-128x128.jpg" alt="User Avatar" class="pull-left sky-index-itemimg">

        <div class="pull-left sky-index-itemcontent">
            <span class="sky-index-itemcontent-title">
                @Html.DisplayFor(modelItem => item.VideoName)
            </span>
            <p>项目难度系数：@Html.DisplayFor(modelItem => item.VideoTeacher)</p>
            <p>项目使用率： @Html.DisplayFor(modelItem => item.VideoViewTimes) 人训练过该项目</p>
        </div>

        <a class="pull-right btn btn-warning btn-sm" href="@Url.Action("Program", "Wechat", new { bid = ViewBag.babyId, id = item.VideoId })">马上学习</a>

    </div>

}




<div class="box-footer clearfix">
    <ul>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Calendar", new { page = page, cid = ViewBag.cid, orderid = ViewBag.orderid }),
    new PagedListRenderOptions
    {
        LinkToPreviousPageFormat = "上一页",
        LinkToNextPageFormat = "下一页",
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 5,
        LinkToFirstPageFormat = "首页",
        LinkToLastPageFormat = "最后一页",
        PageCountAndCurrentLocationFormat = "第 {0}页 共 {1}页"
    })
    </ul>
</div>
   