@using AdsEntity;
@{
    Layout = "~/Views/Shared/_WechatLayout.cshtml";
}


<ul class="row skyindexbtn">


    @foreach (BaogaoDemention dem in ViewData["dem"] as List<BaogaoDemention>)
    {


        <li class="col-xs-1-5 text-center sky-nav-li">
            <span>
                @if (dem.demNumber == 1)
                {

                    <a class="btn btn-danger btn-circle btn-sm" href="@Url.Action("ProgrameList", "Wechat", new { cid = 5 })">
                        <i class="@dem.demIcon"></i>
                    </a>
                }
                @if (dem.demNumber == 2)
                {

                    <a class="btn btn-danger btn-circle btn-sm" href="@Url.Action("ProgrameList", "Wechat", new { cid = 5 })">
                        <i class="@dem.demIcon"></i>
                    </a>
                }
                @if (dem.demNumber == 3)
                {

                    <a class="btn btn-warning btn-circle btn-sm" href="@Url.Action("ProgrameList", "Wechat", new { cid = 5 })">
                        <i class="@dem.demIcon"></i>
                    </a>
                }
                @if (dem.demNumber == 4)
                {

                    <a class="btn btn-warning btn-circle btn-sm" href="@Url.Action("ProgrameList", "Wechat", new { cid = 5 })">
                        <i class="@dem.demIcon"></i>
                    </a>
                }
                @if (dem.demNumber == 5)
                {

                    <a class="btn btn-success btn-circle btn-sm" href="@Url.Action("ProgrameList", "Wechat", new { cid = 5 })">
                        <i class="@dem.demIcon"></i>
                    </a>
                }

            </span>
            <span> @dem.demName</span>
        </li>
    }




</ul>

@ViewBag.current

@ViewBag.test

<br />

@ViewBag.test2
