<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>星星宝贝</title>

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/WechatResource/css/bootstrap.css">
    <link rel="stylesheet" href="~/WechatResource/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="~/WechatResource/css/AdminLTE.css">
    <link rel="stylesheet" href="~/WechatResource/css/labelauty.css">
    <link rel="stylesheet" href="~/WechatResource/css/skym.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("TopCss", required: false)
    @RenderSection("TopScripts", required: false)
</head>
<body>

    @Html.Partial("_WechatMenuPartial")

    <div id="wapcontent">
        @RenderBody()
    </div>


    <div style="margin-bottom:40px;"></div>
    

    <script src="~/WechatResource/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/Resource/js/SkyWeb.js"></script>
    <script type="text/javascript">
        var url = GetUrl('pathname');
        $('.navbar-nav li a').each(function () {
          
            if (url == $(this).attr('href')) {
                $(this).removeClass('text-info');
                $(this).addClass('text-blue');
             
            }

        }
            );
    </script>

    @RenderSection("FootScripts", required: false)
</body>
</html>