
<nav class="navbar navbar-default navbar-fixed-bottom">
    <ul class="container nav navbar-nav">

        <li class="col-xs-1-5 text-center sky-nav-li">
            <a class="btn btn-appnav text-info" href="@Url.Action("Ceping","Wechat")">
                <i class="glyphicon glyphicon-list-alt"></i>
                月度测评
            </a>
        </li>
        <li class="col-xs-1-5 text-center sky-nav-li">
            <a class="btn btn-appnav text-info" href="@Url.Action("HeartList","Wechat")">
                <i class="glyphicon glyphicon-heart"></i>
                心理服务
            </a>
        </li>
        <li class="col-xs-1-5 text-center sky-nav-li">
            <a class="btn btn-appnav   text-info" href="@Url.Action("Calendar","Wechat")">
                <i class="glyphicon glyphicon-calendar"></i>
                今日训练
            </a>
        </li>
        <li class="col-xs-1-5 text-center sky-nav-li">

            <a class="btn btn-appnav  text-info" href="@Url.Action("Baogao","Wechat")">
                <i class="glyphicon glyphicon-king"></i>
                训练报告
            </a>
        </li>

        <li class="col-xs-1-5 text-center sky-nav-li">
            <a class="btn btn-appnav  text-info" href="@Url.Action("MemberCenter","Wechat")">
                <i class="glyphicon glyphicon-cog"></i>
                我的
            </a>
        </li>

    </ul>

</nav>


